* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: limegreen;
  font-family: 'VT323', monospace;
  height: 900px;
}

a {
  text-decoration: none;
}

#play {
  font-family: 'VT323', monospace;
  display: flex;
  margin: 25px auto;
  background-color: black;
  color: limegreen;
  font-size: 3rem;
  padding: 10px 20px;
  border: 2px solid limegreen;
  box-shadow: 5px 5px #666;
}

#play:hover {
  background-color: gray;
}

#play:active {
  background-color: gray;
  box-shadow: 0px 5px #666;
  transform: translateY(4px)
}

h1 {
  text-align: center;
  font-size: 5rem;
}

#level {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 10px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  text-align: center;
  border: 1px solid limegreen;
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
}

.invader {
  background-color: limegreen;
  outline: 1px solid black;
  justify-content: center;
  align-items: center;
}

.player {
  background-color: black;
  outline: 1px solid limegreen;
}

.bullet {
  background-color: red;
  outline: 12px solid black;
  outline-offset: -12px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  height: 75vh;
  width: 600px;
  position: relative;
  top: -750px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid limegreen;
}

.hidden {
  opacity: 0;
  z-index: -1;
}